.right {
    float: right;
}

.warning {
    background-color: orange;
}

.success {
    background-color: green;
}

.m-top--s {
    margin-top: 0.5em !important;
}

text-right {
    text-align: right !important;
}

text-center {
    text-align: center !important;
}